h1{
    font-size: 80px;
    margin-top: 200px;
    margin-left: 150px;
    color: blue;
}
h2{
    font-size: 40px;
    margin-inline: 20px;
     margin-left: 150px;  
     justify-content: flex-start;
}