div{
    
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    top: 266px;
    margin-left: 600px;
    animation-name: colorAnimate;
   animation-duration: 0.25s;
   /* animation-timing-function: ease-in;/ */
   animation-delay: 0s;
   animation-iteration-count: infinite;
   
}
/* div:hover{
    background-color: brown;
    font-size: 30px;
}
div:active{
    background-color: black;
    font-size: 40px;
    color:red;

} */
@keyframes colorAnimate {
    from{
        background-color: aquamarine;
        font-size: 20px;
        transform: rotate(0deg);
    }
    to{ background-color: red;
    font-size: 33px;
    transform: rotate(360deg);}
}
    
 